<div class="card">
  <form [formGroup]="editCommentForm" (ngSubmit)="editHandled()">
    <div class="card-block">
      <fieldset [disabled]="isSubmitting">
        <textarea 
          [hidden]="!isEditing"
          class="form-control"
          placeholder="Write a comment..."
          rows="3"
          formControlName="content"
        ></textarea>
      </fieldset>
      <p [hidden]="isEditing" class="card-text">
        {{ comment.content }}
      </p>
    </div>
    <div class="card-footer">
      <img [src]="comment.user.image" class="comment-author-img" />
      &nbsp;
        {{ comment.user.username }}
      <span class="date-posted">
        {{ comment.dateTimeOfComment | date: 'dd.MM.YYYY, H:mm' }}
      </span>

      <span class="mod-options" [hidden]="!canModify || isEditing">
        <i class="ion-edit" (click)="editClicked(comment)"></i>
        <i class="ion-trash-a" (click)="deleteClicked()"></i>
      </span>

      <span class="mod-options">
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="isSubmitting" [hidden]="!isEditing">
          Edit Comment
        </button>
      </span>
    </div>
  </form>
</div>
